<div *ngIf="data.urlToImage" class="rounded overflow-hidden shadow-lg w-full min-h-350" style="min-height: 350px;">
    <div class="w-full h-1/2"
        style="background: url('{{data.urlToImage}}') no-repeat center center; background-size: cover;"></div>
    <div class="px-6 py-4">
        <div class="font-bold text-lg mb-2">{{data.title}}</div>
    </div>
    <div class="px-6 pt-4 pb-2">

    </div>
</div>

<!-- <div *ngIf="data.urlToImage" class="card col-3">
    <img src={{data.urlToImage}} class="card-img-top" alt="...">
    <div class="w-full h-1/2"
        style="background: url('{{data.urlToImage}}') no-repeat center center; background-size: cover;"></div>
    <div class="card-body p-10">
        <h5 class="card-title">{{data.title}}</h5>
    </div>
</div> -->